[Desktop Entry]
Name=ESP Flaher Alpha
GenericName=Vault ESP Flasher App
Comment=Alpha ESP Flasher built on Gtk3 and Vala
Categories=GTK;Programming;
Exec=com.github.dgxinifnity.vault-project
Icon=applications-utilities
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=ESP-Flasher
Keywords=ESP;Flasher;Espressif;Vault
